
.container {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h5 {
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    text-align: center;
  }

.card-img-top {
     padding-top: 0.75rem;
     padding-left: 0.75rem;
     padding-right: 0.75rem;
     padding-bottom: 0.75rem;
     border-radius: 7%;
     
}

.card-text{
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 15px;
}

.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}